#message{
    max-height: 100px;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .news {
    background-color: whitesmoke !important;
    /* background-color: rgb(95, 95, 105) !important; */
    margin: 0 !important;
    padding: 0 !important;
}
.news h3 {
    text-align: center;
    font-weight: bold;
    background-color: #131b69;
    color: #fff;
    margin-top: 0px auto !important;
}
marquee{
    height: 430px;
}
marquee .news-article{
    color: white;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
marquee .news-article a:link{
    color: white;
    font-weight: bold;
    padding-left: 10px !important;
}
.new-section {
    background-color: rgb(244, 222, 25) !important;
    margin-top: 5px !important;
}
